*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 4989px;
  background: #FFFFFF;
  overflow: hidden;
}